.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  grid-template-columns: auto 1fr;
}

main{
  padding-left: 30%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
  margin-bottom: 10%;
  gap: 300px;
}


